---
import '../assets/global.scss';
---

<html lang="en" data-chisel-theme="light">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Partial Hydration Demo</title>
</head>

<body>
	<h1>Comparing component hydration</h1>

	<ul>
		<li>
			<a href='/astro'>Astro component demo</a>
		</li>
		<li>
			<a href='/svelte'>Svelte component demo</a>
		</li>
		<li>
			<a href='/xelement'>XElement component demo</a>
		</li>
	</ul>
</body>

</html>
