---
import '../assets/global.scss';
import Switch from '../components/Switch.svelte';
---

<html lang="en" data-chisel-theme="light">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Partial Hydration Demo</title>
</head>

<body>
	<h1>Switch component in Svelte</h1>

	<Switch label='Airplane mode' client:idle />
</body>

</html>
